<h1>Edit User</h1>

<%= simple_form_for(@user) do |f| %>
    <%= f.input :status, as: :radio_buttons, collection: [['qualified', 'qualified'], ['not_qualified', 'not_qualified'], ['banned', 'banned']] %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>