<ul>
<% @campaigns.each do |campaign| %>
  <li><h1><%= link_to campaign.title, campaign_path(campaign) %></h1></li>
  <% end %>
</ul>

<% if current_user.expert %>
  <%= link_to 'new Campaign |', new_campaign_path  %> 
  <%= link_to 'All users', users_path  %> 
<% end %>

